<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "home", '/' %> |
<%= link_to "users", users_path %> |
<% if !current_user %>
  <%= link_to "login", :login %> (guest)
<% else %>
  <%= link_to "logout", :logout, {:method => :delete, :confirm => "Are you sure you want to logout?"} %> (<%= current_user.login %>)
<% end %>

<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
